
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.fb
{
	color: #3b5998;

}

.linkedin{
	color: #0077B5;
}

.mytextcolor{

	color:Slategray;
}

.githubcc{
	color: #333;
}

p.ftr{
	font-size: 10px;
}

.border1{
	border-style: solid;
	border-color: Black;
}