
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.fb
{
	color: #3b5998;

}

.linkedin{
	color: #0077B5;
}

.mytextcolor{

	color:Slategray;
}

.githubcc{
	color: #333;
}

p.ftr{
	font-size: 10px;
}

p{
	font-family: Avenir;
	font-size:20px;
	letter-spacing: 1px
}
.border1{
	border-style: solid;
	border-color: Black;
}

h1.name{
	font-family: Aileron;
	font-size: 70px;
	font-weight: 500;
}

h1.headd{
	font-family: Aileron;
	
}


h2.name{
	font-family: Aileron;
	font-size: 50px;
	font-weight: 500;
}

h3.name{
	font-family: Aileron;
	font-size: 40px;
	font-weight: 500;
}
